:host{
    margin-top: 0px;
    padding: 12px 0;
    background: var(--black-010);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        text-align: center;
        margin: 0;
    }

    ul{
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        li{
            width: 40px;
            height: 40px;
            background: var(--white);
            border-radius: 7px;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: transform .2s ease, box-shadow .2s ease;

            &:hover{
                transform: translateY(-2px);
                box-shadow: 0 4px 10px rgba(0,0,0,.12);
            }

            img{
                display: block;
            }
        }
    }


    li{
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover{
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(0,0,0,.12);
    }
}

}