:host {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--green);

    h2 {
        text-align: center;
        margin: 0 0 25px 0;
    }

    details {
        width: 100%;
        margin-top: 10px;
        background: var(--black-010);
        border-radius: 7px;

        summary {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--primary);
            padding: 10px 20px;
            list-style: none; // remove seta padrão
            position: relative;

            p {
                font-size: 14px;
                color: var(--black-010);
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            &::after {
                content: '';
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                background-color: var(--black-010);
                mask: url('../../../../../../public/img/chevron-down.svg') no-repeat center;
                mask-size: contain;
                transition: transform 0.3s ease;
            }
        }

        article {
            background: var(--black-010);
            padding: 0 20px;

            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-6px);

            transition:
                max-height 1s ease,
                opacity 0.5s ease,
                transform 0.5s ease;
        }

        /* ESTADO ABERTO */
        &[open] {
            summary::after {
                mask: url('../../../../../../public/img/chevron-up.svg') no-repeat center;
                mask-size: contain;
                transform: rotate(0deg);
            }

            article {
                padding: 10px 20px;
                max-height: 500px; // valor alto suficiente
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
