:root{
    --primary: #4e6b9b;
    --primary-010: #4e6b9b;

    --secundary: #06628a;
    --secundary-010: #06374e;

    --white: #fff;

    --black: #33605a;
    --black-010: #020202;

    --green: #33605a ;
    

    --grey: #9b9ba0;

}