<header>
    <img src="img/foto_perfil.png" 
    alt="Foto Perfil"
    width="130px"
    height="130px"
    Loading="eager"/>

    <h1>Marinaldo Barroso</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Full-Stack Java| Angular | SQL | Spring Boot</p>
        <p>Porto Velho, Rondônia, Brasil</p>
        <p>
            Sou estudante de Ciências da Computação na Universidade Federal de Rondônia (UNIR) e
            desenvolvedor Full-Stack com experiência em Java, Angular, SQL e Spring Boot.
        </p>
        <p>
            Busco sempre evoluir minhas habilidades técnicas e contribuir para projetos inovadores na área de desenvolvimento de software.
        </p>
        <p>
            Estou aberto a novas oportunidades e desafios que me permitam crescer profissionalmente.
        </p>
        <nav>
            <ul>
                <li>
                     <a href="pdf/curriculo_moderno_intermediario.pdf" target="_blank" class="btn btn-primary">
                        <span class="icon cv"></span>
                            Download CV

                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/marinaldo-barroso/" target="_blank" class="btn btn-secundary" rel="noopener noreferrer">
                        <span class="icon linkedin"></span>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                 <img src="icon/whatsapp.svg" alt="Icone Whatsapp" width="22px" height="24"/>
                <figcaption>
                    <a href="https://wa.me/5569992996800?text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20seu%20portif%C3%B3lio!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (69) 99299-6800</p>
                    </a>
                </figcaption>              
            </figure>

            <figure>
                <img src="icon/email.svg" alt="Icone Email" width="22px" height="24"/>
                <figcaption>
                    <a href="mailto:barroso.junior@outlook.com" target="_blank">
                        <strong style="color: var(--black);">Envie um e-mail para:</strong>
                        <p>barroso.junior@outlook.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>